.navbar a:hover {
  color: rgb(25, 176, 236) !important;
}
.navbar a {
  text-transform: capitalize;
  font-size: 1.2rem !important;
}
.active {
  border-bottom: 2px solid rgb(230, 26, 26);
  font-weight: bold;
}
.anim {
  animation: updown 2s ease-in-out infinite alternate-reverse both;
}

@keyframes updown {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
}
@-webkit-keyframes updown {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
}

.foot{
  position: absolute;
  bottom:0;
}